<h1>Plan#edit</h1>
<div class="container">
	<% if @plan.cities.blank? %>
		<%= simple_form_for @plan do |f| %>
			<%= f.association :cities %>
			<%= f.submit %>
		<% end %>
	<% else %>
		<%= simple_form_for :trip_dates, url: plan_path(@plan), method: :patch do |f| %>
			<% @plan.cities.count.times do |count| %>
				<%= f.input 'start_dates[]', as: :date %>
				<%= f.input 'end_dates[]', as: :date %>
			<% end %>
			<%= f.submit %>
		<% end %>
	<% end %>
</div>